html{
  font-size: 625%;
}
body{
  font-size: .12rem;
  background: #f6f7fb;
}

div,p,span,a,strong,h1,h2,h3,h4,h5,h6,li{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.rtl{
  direction: rtl;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
.cursor-pointer{
  cursor: pointer;
}
.text-white{color:#ffffff;}
.text-danger{color: #e93434;}
.text-primary{color: #40a9ff;}
.text-warning{color: #fa8c16;}
.text-grey{color: #5f5e5e}
.text-align-center{text-align: center;}
.font-bold{font-weight: bold;}
.word-break-all{word-break: break-all;}
.btn-success.ant-btn{background-color: #258f4f;color:#fff;border: none;}
.btn-success.ant-btn:hover{background-color: #258f4f;color:#fff;filter: brightness(1.3);}
.full-width{width: 100%;}
.full-height{height: 100%;}
.line-height-1{line-height: 1;}
.bg-white{background: #ffffff;}
.font-12{font-size: .12rem;}
.font-14{font-size: .14rem;}
.font-15{font-size: .15rem;}
.font-16{font-size: .16rem;}
.font-18{font-size: .18rem;}
.font-20{font-size: .2rem;}
.font-22{font-size: .22rem;}
.font-24{font-size: .24rem;}
.font-26{font-size: .26rem;}
.font-28{font-size: .27rem;}
.font-30{font-size: .3rem;}
.font-40{font-size: .4rem;}
.font-bold{font-weight: bold;}
.flex-row{display: flex;flex-direction: row;}
.flex-row-reverse{display: flex;flex-direction: row-reverse;}
.flex-col{display: flex;flex-direction: column;}
.flex-col-reverse{display: flex;flex-direction: column-reverse;}
.flex-jst-start{justify-content: flex-start;}
.flex-jst-end{justify-content: flex-end;}
.flex-jst-center{justify-content: center;}
.flex-jst-btw{justify-content: space-between;}
.flex-jst-ard{justify-content: space-around;}
.flex-ali-start{align-items: flex-start;}
.flex-ali-end{align-items: flex-end;}
.flex-ali-center{align-items: center;}
.flex-ali-base{align-items: baseline;}
.flex-ali-stretch{align-items: stretch;}
.self-stretch{align-self: stretch;}
.flex-1{flex:1;}
.flex-2{flex:2;}
.flex-3{flex:3;}
.flex-4{flex:4;}
.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}
.pa-col-sm{
  padding-top: .12rem;
  padding-bottom: .12rem;
}
.pa-col-md{
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.pa-row-sm{
  padding-left: .12rem;
  padding-right: .12rem;
}
.pa-row-md{
  padding-left: .2rem;
  padding-right: .2rem;
}
.custom-btn-pa-sm{padding: 0 .12rem !important;}
.pa-row-lg{padding-left: .4rem;padding-right: .4rem;}
.ma-lf-05{margin-left: .05rem}
.ma-col-sm{margin-top: .12rem; margin-bottom: .12rem;}
.ma-col-md{margin-top: .2rem;margin-bottom: .2rem;}
.border-1{border: 1px solid #d0d2db;}
.relative-position{position: relative;}
// 超出省略
.ellipis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page{
  width: 100vw;
  height: 100vh;
}
.router-page{
  min-height: 100vh;
  padding: .2rem .2rem 0 .2rem;
  box-sizing: border-box;
}

#top{
  z-index: +1;
  position: relative;
}